<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Animal list</title>
</head>
<style>
  .table {
      display: table;
      width: 100%;
  }

  .table-header {
      display: table-header-group;
      text-align: center;
  }

  .table-row {
      display: table-row;
  }

  .table-cell {
      display: table-cell;
      border-style: groove;
  }
</style>
<body>
  <div class="table">
    <div class="table-header">
      <div class="table-cell">Number</div>
      <div class="table-cell">Animal Name</div>
      <div class="table-cell">Class</div>
      <div class="table-cell">Type</div>
      <div class="table-cell">Storage location</div>
    </div>
    <div class="table-row" th:each="animal : ${animalList}">
      <div class="table-cell" th:text="${animal.id}"></div>
      <div class="table-cell" th:text="${animal.name}"></div>
      <div class="table-cell" th:text="${animal.animalClass}"></div>
      <div class="table-cell" th:text="${animal.animalType}"></div>
      <div class="table-cell" th:text="${animal.animalWarehouse}"></div>
    </div>
  </div>
</body>
</html>